.wrap-index{
  width: 100%;
  height: 100vh;
  max-height: 100vh;

  .header{
    // padding: 30px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  .time-wrap{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #d6e4ef;
    padding-bottom: 10px;
    background: #ffffff;
    padding: 10px 18px;
    .picker{
      width: 50%;
    }

    .disabled{
      color: #999999;
    }

    .time{
      color: #333333;
    }
  }

  .btn-reset{
    height: 50px;
    line-height: 50px;
  }

  .content{
    padding: 0 30px;
    padding-top: 170px;
    .list{
      margin-bottom: 20px;
      background: #ffffff;
      border-radius: 10px;
      padding: 20px 15px;
      .item{
        display: flex;
        align-items: flex-start;
        // justify-content: space-between;
        margin-bottom: 20px;
      }

      .label{
        color: #999999;
        width: 150px
      }

      .value{
        color: #333333;
        flex: 1
      }
    }
  }
}
