page {
  font-size: 24px;
  // font-family: $fontFamily;
  height: 100%;
  background: #f4f4f4;
}

view,
navigator {
  box-sizing: border-box;
  display: block;
  padding: 0;
  margin: 0;
}

image {
  display: block;
  width: 100%;
}
$color-brand: #4065E0;
/* 引入 Taro UI 默认样式 */
@import "~taro-ui/dist/style/index.scss";
